src/conf/xml-resources/web-service-references/UserWebService/wsdl/localhost_8084/DemoWS/UserWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="account" type="tns:account" />

<xs:element name="delete" type="tns:delete" />

<xs:element name="deleteResponse" type="tns:deleteResponse" />

<xs:element name="findall" type="tns:findall" />

<xs:element name="findallResponse" type="tns:findallResponse" />

<xs:element name="insert" type="tns:insert" />

<xs:element name="insertResponse" type="tns:insertResponse" />

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:element name="taikhoan" type="tns:taikhoan" />

<xs:element name="update" type="tns:update" />

<xs:element name="updateResponse" type="tns:updateResponse" />

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findall">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findallResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountnumber" type="xs:string" minOccurs="0" />
<xs:element name="balance" type="xs:double" />
<xs:element name="firstname" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="lastname" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:taikhoan" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="taikhoan">
<xs:sequence>
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="accountnumber" type="xs:string" minOccurs="0" />
<xs:element name="firstname" type="xs:string" minOccurs="0" />
<xs:element name="lastname" type="xs:string" minOccurs="0" />
<xs:element name="balance" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insert">
<xs:sequence>
<xs:element name="account" type="tns:account" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>