web/WEB-INF/wsdl/localhost_8084/DemoWS/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8084/DemoWS/UserWebService?xsd=1" />
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="insert">
<part name="parameters" element="tns:insert" />
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="findall">
<part name="parameters" element="tns:findall" />
</message>
<message name="findallResponse">
<part name="parameters" element="tns:findallResponse" />
</message>
<portType name="UserWebService">
<operation name="update">
<input wsam:Action="http://service/UserWebService/updateRequest" message="tns:update" />
<output wsam:Action="http://service/UserWebService/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://service/UserWebService/deleteRequest" message="tns:delete" />
<output wsam:Action="http://service/UserWebService/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="insert">
<input wsam:Action="http://service/UserWebService/insertRequest" message="tns:insert" />
<output wsam:Action="http://service/UserWebService/insertResponse" message="tns:insertResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://service/UserWebService/loginRequest" message="tns:login" />
<output wsam:Action="http://service/UserWebService/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="findall">
<input wsam:Action="http://service/UserWebService/findallRequest" message="tns:findall" />
<output wsam:Action="http://service/UserWebService/findallResponse" message="tns:findallResponse" />
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insert">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findall">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://localhost:8084/DemoWS/UserWebService" />
</port>
</service>
</definitions>